@import "../../styles/variables";

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  &_title {
    color: $neutralCoolGray;
  }

  &_price {
    color: $primaryMarineBlue;
  }
}
